.shape {
    margin-left: 10px;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg); 
    
    justify-content: flex-start;
}

.type {    
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
}

.score {
    margin-left: 15px;
}