.shape {
    
    position: absolute;
    right: 0;
    margin-right: 10px;
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    transform: skew(-20deg); 
}

.type {    
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    transform: skew(20deg);    
}

.score {
    margin-right: 15px;
}
.image {    
    width: 80px;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    transform: skew(20deg);
}
