:root {
  --blue: linear-gradient(to bottom, #3fb4bf, #bafafc, #28abb3, #b7f7fb, #1ca8aa);
  --gold: linear-gradient(to bottom, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
  --silver: linear-gradient(to bottom, #c4c4c4, #ffffff, #b4b4b4, #ffffff, #afafaf);
  --black: linear-gradient(to bottom, #181818, #4b4b4b, #1d1d1d, #515151, #1a1a1a);
  --yellow: #eab600;
}
.container {
    overflow: hidden;
  }
  
.shape {
    width: 335px;
    height: 55px;
    margin: 0px;
    background: linear-gradient(rgba(72,72,72,0.7),rgba(35,35,35,0.7));
    overflow: hidden;
    position: relative;
    
    border-right: 10px solid;
    border-image: var(--gold);
    border-image-slice: 1;

    animation-name: caster;
    animation-duration: 1.5s;  
}

.type {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 36px;    

    display: flex;
    
    width: 100%;
    height: 100%; 

    justify-content: center;
    align-items: center;
    color: #fff; 
}
.team {
  color: var(--yellow); 
  font-style: italic;
  margin-right: 10px;
}
.sponsor {
    width: 700px;
    height: 150px;
    margin: 0px;
    
    animation-name: sponsor;
    animation-duration: 1.5s;  
}

.shape-l {    
  position: absolute;
  right: 0;
  margin-right: -10px;

  border-right: none;
  border-left: 10px solid;
}

.right {    
  -webkit-transform: skew(20deg);
  -moz-transform: skew(20deg);
  transform: skew(20deg);    
}

.sponsor-l {
  margin-right: -30px;
}

.shape-r {
  margin-left: -10px;
}

.left {    
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  transform: skew(-20deg);    
}

.sponsor-r {
  margin-left: -30px;
}

@keyframes caster {
  0%   {
    width: 0px;
    height: 0px;
  }
  25%   {
    width: 0px;
    height: 0px;
  }
  50%   {
    width: 0px;
    height: 55px;
  }
  100%   {
    width: 335px;
    height: 55px;
  }
}

@keyframes sponsor {
  0%   {
    width: 0px;
    height: 0px;
  }
  25%   {
    width: 0px;
    height: 0px;
  }
  50%   {
    width: 0px;
    height: 150px;
  }
  100%   {
    width: 700px;
    height: 150px;
  }
}