:root {
  --blue: linear-gradient(to bottom, #3fb4bf, #bafafc, #28abb3, #b7f7fb, #1ca8aa);
  --gold: linear-gradient(to bottom, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
  --silver: linear-gradient(to bottom, #c4c4c4, #ffffff, #b4b4b4, #ffffff, #afafaf);
  --black: linear-gradient(to bottom, #181818, #4b4b4b, #1d1d1d, #515151, #1a1a1a);
  --yellow: #eab600;
}

.container {
display: inline-flex;
  }
  
.shape {
    width: 450px;
    height: 45px;
    margin: 0px;
    background: linear-gradient(rgba(72,72,72,0.7),rgba(35,35,35,0.7));
    /* background: url('../assets/bg.png'); */
    background-size: 500px 45px;
    overflow: hidden;
    position: relative;
    
    border-style: solid;
    border-width: 0 10px 0 10px;
    border-image: var(--gold);
    border-image-slice: 1;

    animation-name: caster;
    animation-duration: 1.5s;  
    
    display: inline-flex;
    justify-content: flex-end;

    
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.7);
}

.extension {
  width: 50px;
  animation-name: extension;
  animation-duration: 3s;  
  position: absolute;
}

.type {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 26px;
    text-transform: uppercase;

    display: inline-flex;
    
    width: 350px;
    height: 100%; 
    white-space: nowrap;

    justify-content: center;
    align-items: center;
    color: #fff; 
}

.large {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 32px;    
  width: 50px;
}

.team {
  color: var(--yellow); 
  font-style: italic;
  margin-right: 10px;
}

.logo {
  display: inline-flex;
  
  width: 100px;
  height: 45px;  

  justify-content: center;
  align-items: center;
  color: #fff; 
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);

  background: linear-gradient(rgba(72,72,72,1),rgba(35,35,35,1));
  box-shadow: inset 0px 0px 10px #000;
}

.image {  
  width: 120px;
  height: 100%;  
  max-width: 120px;
  max-height: 60px;
}

.flag {
  width: 40px;
  height: 40px;
}

.score {    
    width: 125px;
    height: 75px;
    margin: 0px;
    
    animation-name: score;
    animation-duration: 1.5s;  
    background: linear-gradient(rgba(72,72,72,0.9),rgba(35,35,35,0.9));
}


.flex {
  margin-left: 10px;
  justify-content: flex-start;
}
.fix {    
  position: absolute;
  right: 0;
  margin-right: 10px;
}

.right {    
  -webkit-transform: skew(20deg);
  -moz-transform: skew(20deg);
  transform: skew(20deg);    
}

.left {    
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  transform: skew(-20deg);    
}

@keyframes caster {
    0%   {
      width: 0px;
      height: 0px;
    }
    25%   {
      width: 0px;
      height: 0px;
    }
    50%   {
      width: 0px;
      height: 45px;
    }
    100%   {
      width: 450px;
      height: 45px;
    }
  }

  @keyframes extension {
    0%   {
      width: 0px;
      height: 0px;
    }
    25%   {
      width: 0px;
      height: 0px;
    }
    50%   {
      width: 0px;
      height: 45px;
    }
    75%   {
      width: 50px;
      height: 45px;
    }
    100%   {
      width: 50px;
      height: 45px;
    }
  }

@keyframes score {
  0%   {
    width: 0px;
    height: 0px;
  }
  25%   {
    width: 0px;
    height: 0px;
  }
  50%   {
    width: 0px;
    height: 75px;
  }
  100%   {
    width: 125px;
    height: 75px;
  }
}